/* card and card hover */
.card{
    border-radius: 10px;
    background: #Ffffff;
    color:#22223B;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 20px 14px 20px;
  cursor: pointer;    
}
.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: rgb(201, 118, 125);
  color: #fff;
}


.wcard{
    border-radius: 10px;
    background: #Ffffff;
    color:#22223B;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 20px 14px 20px; 
}

.card .icon {
  font-size: 3rem;
  color: rgb(201, 118, 125);
}

.card:hover .icon {
  color: #fff;
}

section {
    padding:5rem;
}
.bg-colour {
    background-color:#F2E9E4;
    font-size: 1rem;
}
